.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.searchSection {
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.errorButtonContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}

.resultsSection {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.resultsSectionWithDetails {
  grid-template-columns: 2fr 1fr;
  align-items: stretch;
}

.detailsAside {
  width: 100%;
  align-self: stretch;
  min-height: 100%;
}
