.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 32px;
}

.title {
  text-align: center;
  color: var(--color-accent);
}
