.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-bg);
  padding: 24px;

  border-radius: 12px;
  box-shadow: 0px 0px 50px 0px rgba(34, 60, 80, 0.3);
  z-index: 2;

  max-height: 90vh;
  overflow-y: auto;

  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
  display: block;
}

.button {
  margin: 12px auto 0;
  display: block;
}
