.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  background-color: var(--color-surface);
  padding: 20px;
  border-radius: 12px;
}

.imagePreview {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  margin-top: 8px;
  display: block;
}
